<section class="pt-1 text-center container">
  <div class="row py-1 py-lg-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Emblémati’K</h1>
      <p>Nombre total de lots: {{totalCount}}</p>
      <div class="row">
        <div class="col d-flex justify-content-between align-items-center">Reservés: {{reservedCount}} <small class="badge rounded-pill text-bg-danger">{{(reservedCount/totalCount) | percent}}</small></div>
        <div class="col d-flex justify-content-between align-items-center">Reservés: {{availableCount}} <small class="badge rounded-pill text-bg-success">{{(availableCount/totalCount) | percent}}</small></div>
      </div>
    </div>
  </div>
</section>
<div class="album py-2 bg-body-tertiary">
  <div class="container">
    @if(loading){
    <div class="d-flex justify-content-center align-items-center" style="min-height: 600px;">
      <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    }
    @for (level of levels; track level.level) {
    <h3 class="py-2 text-center">Etage {{level.level}}</h3>
    @for (program of level.programs; track program.name) {
    <h6 class="py-1">Batiment {{program.name}}</h6>
    <div class="row row-cols-4 row-cols-sm-4 row-cols-md-6 g-2">
      @for (lot of program.lots; track lot.number) {
      <div class="col">
        <div class="card shadow-sm" style="font-size: 0.8em;" [ngClass]="lot.isReserved?'bg-danger-subtle':'bg-success-subtle'">
          <div class="card-body p-2">
            <p class="card-title fw-bold">{{lot.number}}</p>
            <div class="fs-sm mb-1">{{lot.description}}</div>
            <!-- <div class="d-flex justify-content-between align-items-center">
              @if(lot.isReserved){
              <span class="badge text-bg-danger">Reservé</span>
              }@else{
              <span class="badge text-bg-success">Disponible</span>
              }
            </div> -->
          </div>
        </div>
      </div>
      }
    </div>
    }
    <hr>
    }
  </div>
</div>

<router-outlet />